---
import App from "../components/App.tsx";
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/leaflet.css";
import "../styles/global.css";
import BusinessTabs from "../components/business/BusinessTabs";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/jpeg"
      sizes="32x32"
      href="https://uzgnfwbztoizcctyfdiv.supabase.co/storage/v1/object/public/Imagenes/AZuAXHqalTLlz8th7NMdBA-AZuAXHqaHD92HliWBxJzdA.jpg"
    />
    <title>AdLocal</title>
  </head>
  <body>
    <App client:load>
      <BusinessTabs client:only="react" />
    </App>
  </body>
</html>
