.icon {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  direction: ltr;

  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.filled {
  font-variation-settings:
    "FILL" 1,
    "wght" 500,
    "GRAD" 0,
    "opsz" 24;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 21px;
}

.large {
  font-size: 30px;
}