---
import BusinessWraper from "../wrappers/BusinessWraper";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>AdLocal | Comercios</title>
    <link
      rel="icon"
      type="image/jpeg"
      sizes="32x32"
      href="https://uzgnfwbztoizcctyfdiv.supabase.co/storage/v1/object/public/Imagenes/AZuAXHqalTLlz8th7NMdBA-AZuAXHqaHD92HliWBxJzdA.jpg"
    />
  </head>
  <body>
    <!-- Renderizamos el wrapper en cliente -->
    <BusinessWraper client:only="react" />
  </body>
</html>
