---
import "bootstrap/dist/css/bootstrap.min.css";
import "../styles/leaflet.css";
import "../styles/global.css";
import BusinessWraper from "../wrappers/BusinessWraper";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/jpeg"
      sizes="32x32"
      href="https://uzgnfwbztoizcctyfdiv.supabase.co/storage/v1/object/public/Imagenes/AZuAXHqalTLlz8th7NMdBA-AZuAXHqaHD92HliWBxJzdA.jpg"
    />
  </head>
  <body>

    <!-- El componente real solo en cliente -->
    <BusinessWraper client:only="react" />
  </body>
</html>