---
import ComercioWraper from "../../wrappers/ComercioWraper";

const { slug } = Astro.params;
const parts = slug?.split("_");
const id = Number(parts?.[0]);

if (isNaN(id)) {
  return Astro.redirect("/");
}
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>AdLocal | Comercios</title>
    <link
      rel="icon"
      type="image/jpeg"
      sizes="32x32"
      href="https://uzgnfwbztoizcctyfdiv.supabase.co/storage/v1/object/public/Imagenes/AZuAXHqalTLlz8th7NMdBA-AZuAXHqaHD92HliWBxJzdA.jpg"
    />
  </head>
  <body>
    <ComercioWraper id={id} client:only="react" />
  </body>
</html>
