---
import ComercioWraper from "../../wrappers/ComercioWraper"; 



const { slug } = Astro.params;
const parts = slug?.split("_");
const id = Number(parts?.[0]);

if (isNaN(id)) {
  return Astro.redirect("/");
}
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comercio</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
  </head>
  <body>
    <ComercioWraper id={id} client:only="react" />
  </body>
</html>
